*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background-color: black;
}

.here {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #533483, #E94560);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.1s;
}

a:hover {
    color: #E94560;
}

#navbar {
    list-style-type: none;
    padding-right: 40px;
    background: linear-gradient(180deg, transparent 2%, black),
    url("images/moonhighres.jpg");
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

li{
    padding-right: 40px; 
    size: 20px;
}

#logoli {
    display: block;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 14px 40px;
    margin-right: auto;
}

#logo {
    height: 80px;
}

.titleMain {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #0F3460, #E94560);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    margin: 2em 0  1.5em 0;
    width: 100%;
    text-align: center;
    color: white;
}

.mainImg {
    width: 100%;
    position: fixed;   
    top: 0em;
    z-index: -1;
    height: 47.01em;
}

.container2{
    background-color: white;
    margin-top: 20em;
    height:40em;
    z-index: 1;
}
.start{
    background: linear-gradient(black , black, #17171d);
    height: 40em;
}

.descMain {
    margin: auto;
    width: 75%;
    text-align: center;
    color: white;
}

.container2 {
    background-color: #17171d;
    display: flex;
    flex-direction: row;
    height: auto;
}

.informator {
    color: white;
    font-size: 50px;
    margin: 100px;
    width: 40%;
    font-weight: bold;
}

.informator > p {
    font-size: 20px;
    font-weight: 200;
}

.imageSide {
    margin: auto;
}

.container3 {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
}


.con3check {
    background-color: #17171d;
    margin: 10px;
    width: 30%;
    padding: 30px;
    border-radius: 20px;
}

.ttl {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}
.dsc {
    color: white;
    font-weight: lighter;
    margin-bottom: 30px;
}
li {
    background: -webkit-linear-gradient(45deg, #533483, #E94560);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    list-style-type:none;
    margin-bottom: 15px;
    font-size: 20px;
}

ul {
    text-align: center;
}

.buy {
    display: flex;
    align-items: center;
    margin-top: 4em;
}
.prc {
    width: auto;
    color: white;
    font-size: 20px;
    text-align: center;
}
.prcBtn {
    justify-content: space-between;
    width: 70%;
    text-align: end;
}

#purchase {
    padding: 15px 30px;
    background: linear-gradient(45deg, #533483, #E94560);
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.final {
    text-align: center;
    margin: 40px 0 0 0;
    color: #0F3460;
}
.ratings {
    background-color: white;
    width: 100%;
    padding: 40px;
    font-size: 30px;
}
.container4 {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.aveMsg{
    display: flex;
    padding: 40px;
    width: 100%;
}

.averageRat {
    margin: 20px;
    width: 30%;
    padding: 0px;
    text-align: center;
    font-size: 70px;
    border: #17171d solid 2px;
}

.commentRating {
    width: 70%;
    border: #17171d solid 2px;
}